@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap');
@import url('reset.css');
@import url('mobile.css');

:root {
    /* SYSTEM FONTS */
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';

    /* COLORS */
    --white: #e6e6e6;
    --white-mark: #e6e6e699;
    --gray: #d5d5d5;
    --gray-50: #d5d5d566;
    --yellow-lt: #eed9c3;
    --yellow: #e3b261;
    --yellow-bg: #e3b261aa;
    --green: #a78347;
    --green-dk: #353535;
    --blue: #111827;
    --blue-bg: #111827cc;

    /* Given image should strictly be 1512 x 982 pixels */
    --h: calc(100vh - 22px);
    --contain-w: 800px;
}

a {
    color: var(--green);
}

a:hover {
    color: var(--yellow);
}

p {
    line-height: 1.6rem;
}

body {
    font-family: 'Roboto Slab';
    font-size: 0.9rem;
    background-color: var(--blue);
    color: var(--gray);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: calc((var(--h) * 1512) / 982);
    min-height: var(--h);
    z-index: 1;
}

.game-image {
    z-index: 0;
    position: relative;
    overflow: hidden;
    min-width: calc((var(--h) * 1512) / 982);
    min-height: var(--h);
}

.game-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.markers {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.marker {
    position: absolute;
    background: var(--white-mark);
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    /* cursor: pointer; */
}

.cursor {
    position: absolute;
    z-index: -2;
    left: 100px;
    top: 100px;
    width: 5%;
    aspect-ratio: 1/1;
    /* background: var(--blue-bg); */
    border: 3px dashed var(--yellow);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.1s ease-in-out;
    /* pointer-events: none; */
}

img {
    transition: all 1s ease-in-out;
}

.wrapper {
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 16px;
}

.container {
    posiition: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    max-width: var(--contain-w);
}

header {
    max-width: var(--contain-w);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    background-color: var(--yellow-bg);
    border-radius: 6px;
    margin-top: 64px;
}

header .logo-title {
    display: flex;
    flex-direction: rows;
    align-items: center;
    gap: 16px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-left: 12px;
    color: var(--blue);
}

header .logo-title .logo {
    width: 28px;
    height: 38px;
    background: url('../assets/odin-logo-colored.svg') no-repeat center center;
}

header .options {
    display: flex;
    flex-direction: rows;
    align-items: center;
    gap: 16px;
    margin-inline: 12px;
    font-size: 1rem;
    text-align: right;
    letter-spacing: 0.1rem;
}

header .options span {
    color: var(--blue);
}

header .options .about {
    width: 24px;
    aspect-ratio: 1/1;
    color: var(--blue);
    background-color: var(--white);
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

footer {
    max-width: var(--contain-w);
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    padding: 16px 24px;
    border-radius: 0 0 6px 6px;
    background-color: var(--blue-bg);
    color: var(--green);
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

footer .copyright {
    display: flex;
    flex-direction: rows;
    align-items: center;
    gap: 8px;
}

.objects-list {
    max-width: var(--contain-w);
    width: 100%;
    display: flex;
    flex-direction: rows;
    align-items: center;
    margin-top: 16px;
}

.objects-list ul {
    width: 100%;
    display: flex;
    flex-direction: rows;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: var(--blue-bg);
    padding: 12px 16px 12px 32px;
    border-radius: 6px;
    /* gap: 32px; */
}

.objects-list ul::after {
    content: '';
    width: 20px;
    aspect-ratio: 1/1;
    background: url('../assets/icon-search.svg') no-repeat center center;
    background-color: var(--yellow);
    border-radius: 50%;
}

.get-name {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    border-radius: 42px;
    gap: 24px;
}

.stroy-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin-top: 16px;
    border-radius: 6px;
    background-color: var(--blue-bg);
    padding: 32px;
}

.stroy-line em {
    color: var(--yellow);
}

input {
    border-radius: 42px;
    width: 100%;
    padding: 16px 32px;
    background-color: var(--blue-bg);
    color: var(--yellow);
}

input:focus {
    background-color: var(--gray);
    color: var(--blue);
}

button {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    cursor: pointer;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

button.primary {
    background-color: var(--yellow);
    color: var(--blue);
    padding: 16px 32px;
    border-radius: 42px;
}

button.primary:hover {
    background-color: var(--white);
}

button.secondary {
    color: var(--yellow);
}

button.secondary:hover {
    color: var(--white);
}

.score-list {
    position: absolute;
    top: 170px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 64px;
}

.score-list-title {
    max-width: var(--contain-w);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px auto;
}

.score-list-title h2 {
    font-size: 2rem;
}

.score-item {
    max-width: var(--contain-w);
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--blue-bg);
    color: var(--gray);
    padding: 6px 24px;
    border-radius: 6px;
}

.score-item:hover {
    background: var(--gray);
    color: var(--blue);
}

.score-item .name-num {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
