@media only screen and (max-width: 480px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    .objects-list ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;
        padding: 0;
        background: red;
    }

    .objects-list ul::after {
        display: none;
    }
}

@media (orientation: portrait) {
    .game-image {
        height: calc(--h);
    }
}

@media (orientation: landscape) {
    .game-image {
        width: 100%;
        min-height: calc(--h);
    }
}
