@media (max-width: 512px) {
    footer {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .objects-list ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0;
        padding: 0;
        background: red;
    }

    .objects-list ul::after {
        display: none;
    }
}

@media (orientation: portrait) {
    .game-image {
        height: calc(--h);
    }

    .floating-container {
        margin-top: 120px;
    }

    .scenes {
        height: 50vh;
        flex-direction: column;
        padding-inline: 16px;
    }
}

@media (orientation: landscape) {
    .game-image {
        width: 100%;
        min-height: calc(--h);
    }
}
